<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/48327cc9-33e0-4e3b-95bb-e4b0f07baf0e/resourcegroups/DDAC/providers/Microsoft.Web/sites/DDAC220170709015707</ResourceId>
    <ResourceGroup>DDAC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddac220170709015707.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddac220170709015707.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDAC220170709015707</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDAC220170709015707</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DDAC2Context" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ddac220170709013723dbserver.database.windows.net,1433;Initial Catalog=DDAC220170709013723_db;Persist Security Info=False;User ID=Scott;Password=$cott123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:ddac220170709013723dbserver.database.windows.net,1433;Initial Catalog=DDAC220170709013723_db;Persist Security Info=False;User ID=Scott;Password=$cott123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DDAC2.Models.ApplicationDBContext, DDAC2" MigrationConfiguration="DDAC2.Migrations.Configuration, DDAC2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DDAC2Context-Web.config Connection String">
      <ParameterValue>Server=tcp:ddac220170709013723dbserver.database.windows.net,1433;Initial Catalog=DDAC220170709013723_db;Persist Security Info=False;User ID=Scott;Password=$cott123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>